@font-face {
  font-family: "Torus";
  src: url("./Torus-Regular.734ed3ae.otf");
  font-weight: regular;
}

body {
  overflow-x: hidden;
  margin: 0;
  font-family: "Torus";
  background-color: #18171c;
  color: white;
}

#logo {
  position: relative;
  width: 75px;
  height: 75px;
}

.head {
  z-index: 100;
  position: sticky;
  background-image: url("../public/bg.jpg");
  animation: bgMove 300s linear infinite;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

@keyframes bgMove {
  from {
    background-position: 0 0;
  }
  50% {
    background-position: 0 -1386;
  }
  to {
    background-position: 0 0;
  }
}

.head-container {
  color: white;
  display: flex;
  align-items: center;
  width: 70vw;
  height: 100px;
  margin: 0 auto;
}

.nav-container {
  width: 100%;
  height: 75px;
}

.nav-container > h1 {
  text-align: left;
  margin: 3 25;
}

.nav-top {
  display: flex;
  width: 50%;
}

.nav-top > a {
  margin: 0 25;
  font-size: 13pt;
}

.container {
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #2e293d;
  max-width: 1200px;
  min-width: 700px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 15 25;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

section {
  background-color: #3d3946;
  padding: 15px;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
}

#overview {
  margin-top: 10;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
      "item1 item2"
      "item3 item4"
      "item5 item5";
  gap: 15px;
}

.item:nth-child(1){
  grid-area: item1;
}
.item:nth-child(2){
  grid-area: item2;
}
.item:nth-child(3){
  grid-area: item3;
}
.item:nth-child(4){
  grid-area: item4;
}
.item:nth-child(5){
  grid-area: item5;
}

.item {
  cursor: pointer;
  border-radius: 5px;
  background-color: #5639ac;
}

.item:active {
  background-color: #45289b;
}

a:hover {
  transition: 0.1s linear;
  color: #c2b8e0;
}

a {
  color: inherit;
  text-decoration: none;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding: 5 0;
  background-color: #2e293d;
  font-size: 8pt;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  display: grid;
  height: 60px;
  grid-template-columns: 2fr 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px;
  grid-template-areas: 
    "bottom-dis address socials";
  align-items: center;
}

.bottom p {
  margin: 7 0;
}

.bottom-dis { grid-area: bottom-dis; }
.address { grid-area: address; }
.socials { grid-area: socials; }

address {
  font-style: normal;
}

#map-id {
  background-color: transparent;
  font-family: "Torus";
  font-size: 20px;
  color: white;
  width: 15em;
  height: 2em;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  margin-left: 2em;
  transition: width 0.3s ease-out;
}

#map-id:focus {
  width: 90%;
}

#map-id:focus::placeholder {
  font-size: 0;
}

.findmap-video-container {
  display: flex;
  flex-direction: column;
}

.player-container {
  position: relative;
  margin-top: 30px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

#findmap-loading {
  position: absolute;
  left: 50%;
  top: 50%;
}

#feedback-container {
  display: grid; 
  width: 50%;
  margin: auto;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 5fr 1fr;
  align-items: center;
  gap: 0px 0px; 
  grid-template-areas: 
    "feedback-i1 feedback-i2"
    "feedback-i3 feedback-i3"
    "feedback-i4 feedback-i5"; 
}
.feedback-i3 { grid-area: feedback-i3; }
.feedback-i4 { grid-area: feedback-i4; }
.feedback-i5 { grid-area: feedback-i5; }
.feedback-i1 { grid-area: feedback-i1; }
.feedback-i2 { grid-area: feedback-i2; }

input {
  width: fit-content;
  margin: 5 0;
  background-color: transparent;
  font-family: "Torus";
  font-size: 15px;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
}

input[type^="submit"] {
  background-color: white;
  border: 0;
  color: black;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.1s;
}

input[type^="submit"]:active {
  background-color: gray;
}

textarea {
  width: 300px;
  height: 150px;
}

.berger {
  visibility: hidden;
  width: 40px;
  cursor: pointer;
}

.berger-line {
  height: 4px;
  background-color: white;
  width: 40px;
  border-radius: 4px;
  margin: 10 0;
}

.nav-mobile {
  display: none;
}

#berger-btn:checked ~ .nav-mobile {
  user-select: none;
  display: block;
  position: absolute;
  color: #87868a;
  top: 75px;
  left: 0px;
  width: 100vw;
  background-color: #24222a;
  animation: menu-drop 0.3s ease-out;
  animation-fill-mode: forwards;
}

.nav-mobile-item {
  font-size: 18px;
  width: fit-content;
  height: fit-content;
  margin: 15 0;
  margin-left: 25px;
}

.nav-mobile-item > a:hover {
  color: white;
}

#berger-btn:checked ~ .berger {
  animation: menu-rotate 0.3s linear;
}

.skin-image-container {
  position: relative;
  flex: auto;
  min-width: fit-content;
  min-height: fit-content;
  margin: 15 15;
}

.skin-image-container > img:hover {
  transition: 0.1s linear;
  filter: blur(3px);
}

@keyframes menu-drop {
  from {
    height: 0px;
  }
  to {
    height: 166px;
  }
}

@keyframes menu-rotate {
  from {
    rotate: 0deg;
  }
  50% {
    rotate: 90deg;
  }
  to {
    rotate: 180deg;
  }
}

#berger-btn {
  opacity: 0;
}

@media screen and (max-width: 1150px) {
  .bottom {
    height: 50px;
    grid-template-columns: 3fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "bottom-dis socials"
      "address socials"; 
  }
}

@media screen and (max-width: 800px) {
  .bottom {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    height: 130px;
    grid-template-areas: 
      "bottom-dis"
      "address"
      "socials"; 
  }
  #socials {
    width: 100%;
    justify-content: center;
    left: 0;
  }
}

@media screen and (max-width: 700px) {
  .nav-top {
    visibility: hidden;
    width: 0;
  }
  .head {
    min-width: 340px;
  }
  .head-container {
    width: 90vw;
    height: 75px;
  }
  .nav-container {
    height: 60px;
  }
  .nav-container > h1 {
    line-height: 60px;
    margin: 0;
    margin-left: 20px;
  }
  #logo {
    width: 60px;
    height: auto;
  }
  .content {
    min-width: 340px;
  }
  #overview {
    display: flex;
    flex-direction: column;
  }
  html {
    min-height: 700px;
  }
  .berger {
    visibility: visible;
  }
}

#cookie-notif {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c2b8e0;
  position: fixed;
  bottom: 25px;
  left: 25px;
}

#cookie-notif > img {
  position: absolute;
  top: 15%;
  left: 15%;
}

.cookie {
  cursor: pointer;
  opacity: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.cookie:hover {
  background-color: #a096be;
}

#cookie-txt {
  opacity: 0;
  position: absolute;
  top: 4.5%;
  left: 18%;
}

#bar1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.cws_box{
  position: relative;
  width:200px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
}

.cws_box::before{
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background-color: #fff;
  border-radius: 8px;
  transition: 0.5s;
  transform: skewX(15deg);
}

.cws_box::after{
  content: '';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background-color: #fff;
  border-radius: 8px;
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.cws_box:hover:before,
.cws_box:hover:after{
  transform: skewX(0deg);
  left: 10px;
  width: calc(100% - 60px);
}

.cws_box:nth-child(1):before,
.cws_box:nth-child(1):after{
  background:linear-gradient(315deg, #ffbc00, #ff0058);
}

.cws_box:nth-child(2):before,
.cws_box:nth-child(2):after{
  background:linear-gradient(315deg, #03a9f4, #ff0058);
}

.cws_box:nth-child(3):before,
.cws_box:nth-child(3):after{
  background:linear-gradient(315deg, #4dff03, #00d0ff);
}

.cws_box span{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.cws_box span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-radius: 8px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

.cws_box:hover span::before{
  top: -25px;
  left:50px;
  width: 50px;
  height: 50px;
  opacity: 1;
}

.cws_box span::after{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;;
}

.cws_box:hover span::after{
  bottom: -10px;
  right:30px;
  width: 60px;
  height: 60px;
  opacity: 1;
}

@keyframes animate {
  0%, 100%{
      transform: translateY(10px);
  }
  50%{
      transform: translate(-10px);
  }
}

.cws_content{
  position: relative;
  left: 0;
  padding: 20px 10px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  z-index: 1;
  transition:0.5s;
  color: #fff;
}

.cws_box:hover .cws_content{
  left: -20px;
  padding: 10px 10px;
}

.cws_content h2{
  font-size: 2em;
  color: #fff;
  line-height: 1.4em;
}

.cws_box .cws_content a:hover{
  background-color: #ffcf4d;
  border: 1px solid rgba(255, 0, 88, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

#socials {
  display: flex;
  position: absolute;
  right: 30px;
  bottom: 9px;
}

.socials-image-container {
  cursor: pointer;
  position: relative;
  width: 38.4px;
  height: 38.4px;
  margin: 0 20;
  box-shadow: 0 0 5px #000;
  border-radius: 50%;
  overflow: hidden;
}

#socials img {
  position: absolute;
  left: 9.2px;
  top: 9.2px;
  width: 20px;
  height: 20px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(146deg) brightness(104%) contrast(101%);
}

.socials-image-container::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.2s;
  background: radial-gradient(circle, #b92b27, #1565c0);
  border-radius: 50%;
}

.socials-image-container:hover::before {
  animation: fulfill 0.2s linear forwards;
}

@keyframes fulfill {
  100% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}

#bar2{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}

.card {
  z-index: 101;
  overflow: hidden;
  position: relative;
  padding: 10 10;
  font-size: 30px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  transition: 0.5s;
}

.card:nth-child(1) {
  background: linear-gradient(to top, #1a2a6c, #b21f1f, #fdbb2d);
}

.card:nth-child(2) {
  background: linear-gradient(to top, #fc466b, #3f5efb);
}

.card:nth-child(3) {
  background: linear-gradient(to top, #373b44, #4286f4);
}

.card::before {
  position: absolute;
  left: -25%;
  top: -150;
  width: 150%;
  height: 300px;
  background-color: #2e293d;
  border-radius: 50%;
  content: '';
}

.card p {
  position: relative;
  z-index: 100;
  margin: 0;
}

#bar2:hover .card{
  filter: blur(10px);
  scale: 0.9;
}

#bar2 .card:hover {
  filter: blur(0px);
  scale: 1.05;
}

#bar3{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  transition: 0.5s;
}

.snake {
  position: relative;
  overflow: hidden;
  padding: 10 10;
  font-size: 30px;
  width: 200px;
  height: 300px;
  box-shadow: 0 0 10px #000a;
  transition: 0.5s;
  background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(22,112,240,0.5) 45%, rgba(22,112,240,0.5) 50%, rgba(0,26,131,0.5) 50%, rgba(0,26,131,0.5) 55%, rgba(0,0,0,0.5) 100%);
}

#bar3:hover .snake{
  opacity: 0.5;
}

 #bar3 .snake:hover {
  opacity: 1;
}

.snake span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #0c002b, #1779ff);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(100%);
  }
}

.snake span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #0c002b, #1779ff);
  animation: animate2 1s linear infinite;
  animation-delay: 0.5s;
  transform: translateY(-100%);
}

@keyframes animate2 {
  0% {
      transform: translateY(-100%);
  }
  100% {
      transform: translateY(100%);
  }
}

.snake span:nth-child(3) {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #0c002b, #1779ff);
  animation: animate3 1s linear infinite;
  animation-delay: 1s;
  transform: translateX(100%);
}

@keyframes animate3 {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.snake span:nth-child(4) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #0c002b, #1779ff);
  animation: animate4 1s linear infinite;
  animation-delay: 1.5s;
  transform: translateY(100%);
}

@keyframes animate4 {
  0% {
      transform: translateY(100%);
  }
  100% {
      transform: translateY(-100%);
  }
}


.images-container {
  display: grid; 
  width: 70%;
  grid-template-columns: 2fr 3fr 2fr; 
  grid-template-rows: 2fr .5fr .5fr 2fr; 
  gap: 10px; 
  grid-template-areas: 
    "a b b"
    "a c g"
    "f c d"
    "e e d";
}

.images-container:hover .img {filter: blur(5px);}
.images-container .img:hover {filter: blur(0px);}

.images-container div {
  position: relative;
  transition: 0.1s;
}

.images-container div img {
  width: 100%;
  height: 100%;
}

.images-container div:hover::after {
  content: 'skin';
  font-size: 20px;
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 10px;
  left: calc(50% - 20px);
}


.a { grid-area: a; }
.b { grid-area: b; }
.c { grid-area: c; }
.d { grid-area: d; }
.e { grid-area: e; }
.f { grid-area: f; }
.g { grid-area: g; }

#auth-container {
  position: relative;
  background-color:#2b2a33;
  width: 40%;
  height: 200px;
  border-radius: 15px;
  margin: 30 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#auth-container span {
  position: absolute;
  background-color: #524f5a55;
  border-radius: 15px;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 10px #0002;
  animation: anim 5s infinite linear;
}

@keyframes anim {
  0%, 100%{
    transform: translateY(5px);
  }
  50%{
      transform: translateY(-5px);
  }
}

#auth-container span:nth-child(4){
  top: -30px;
  left: -30px;
  width: 80px;
  height: 80px;
}

#auth-container span:nth-child(5){
  bottom: -30px;
  right: 20px;
  width: 70px;
  height: 70px;
  animation-delay: .5s;
  animation-duration: 6s;
}

#auth-container span:nth-child(6){
  left: -50px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  animation-delay: .25s;
  animation-duration: 7s;
}

#auth-container span:nth-child(7){
  top: 60px;
  right: -25px;
  width: 50px;
  height: 50px;
  animation-delay: .75s;
  animation-duration: 8s;
}

#pp {
  user-select: none;
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 40px;
  font-weight: 600;
  color: #d194af;
  top: 330px;
  left: 130px;
  cursor: pointer;
}

.ontop {
  z-index: 100000;
}